* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100vw;
  display: grid;
  grid-auto-flow: column;
  background-color: rgb(134, 133, 133);
  color: white;
  gap: 1rem;
  list-style-type: none;
  margin-top: 10px;
}
.header-title {
  padding-left: 10px;
  margin-left: 1rem;
}

nav ul {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  color: white;
  list-style-type: none;

  text-decoration: none;
  margin-top: 10px;
  float: right;
}
nav ul a:hover{
  background-color: rgb(184, 211, 211);
}
nav ul a {
  text-decoration: none;
  color: white;
}
svg {
  width: 500px;
  height: 500px;
}
main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: coral;
}


.young-programmer:hover {
    transition: 2s;
    transform: rotate(20deg) scale(0.5) translate(50px, 50px);
    

}
.top-section {
  width: 500px;
  
  display: grid;
  background-color: grey ;
  
  color: white;
  border: solid 1px grey;
  margin: 100px;
  text-align: center;
  padding: 1px;
 
}
.top-section-paragraph{
  justify-content: right;

}
.top-section-title {
  color: rgb(212, 212, 38);
}
}
.top-section-paragraph strong {
  color: #4a94aa;
  font-weight: 400;
}


#projects {
  background-color: #ede6e2;
  padding: 0.7rem;
}
#project h2,
#education h2 {
  text-align: center;
}
.project-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  justify-content: center;
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.project-name {
  color: #fa795d;
  text-align: center;
  font-size: 1.5rem;
}
.project {
  padding: 0.8rem;
  outline: 1px solid black;
  line-height: 2rem;
  color: rgb(73, 72, 70);
}
.project a {
  background-color: #fa795d;
  color: white;
  border: none;
  text-decoration: none;
  padding: 7px 55px;

}
.project a:hover{
  background-color: #eeaea0;
}
img:hover {
    width: 250px;
    background-color: rgb(187, 149, 149);
    
}

.experience-section {
  display: grid;
  grid-template-columns: minmax(300px, 800px);
  grid-gap: 2rem;
  justify-content: center;
  padding: 50px;
  background-color: #5bc3eb;
}
.experience-info {
  padding: 1rem;
  background-color: #5bc3eb;
}

.experience-info {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.7fr;
  grid-gap: 10px;
  background-color: white;
  color: rgb(73, 72, 72);
  align-items: center;
}
footer {
  background-color: black;
  text-align: center;
  padding: 1rem;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover{
  background-color: grey;
}
